<div class="grid grid-cols-3 gap-4">
  <app-product
    [title]="title"
    [price]="price"
    [img]="img"
    (addToCart)="fromChild($event)"
  />
  <app-product
    [title]="title"
    [price]="price"
    [img]="img"
    (addToCart)="fromChild($event)"
  />
  <app-product
    [title]="title"
    [price]="price"
    [img]="img"
    (addToCart)="fromChild($event)"
  />
  <app-product
    [title]="title"
    [price]="price"
    [img]="img"
    (addToCart)="fromChild($event)"
  />
  <app-product
    [title]="title"
    [price]="price"
    [img]="img"
    (addToCart)="fromChild($event)"
  />
  <app-product
    [title]="title"
    [price]="price"
    [img]="img"
    (addToCart)="fromChild($event)"
  />
</div>
