<div class="container">
  <h1>Hola este es mi primer proyecto</h1>
  <h2>{{ welcome }}</h2>
  <ul>
    <p>total: {{ tasks().length }}</p>
    @for (task of tasks(); track $index) {
    <li>{{ $index }} {{ task }}</li>
    }
  </ul>

  <ul>
    <!-- string interpolation = {{ variable }} -->
    <p>total: {{ tasks().length }}</p>
    <li *ngFor="let task of tasks(); index as i">{{ i }} {{ task }}</li>
  </ul>
  <hr />
  <h2>{{ "Hola".repeat(4) }}</h2>
  <p>la suma de 3 + 3 es {{ 3 + 3 }}</p>
  <p>Hola soy {{ name() }} y mi edad es {{ getAge() }}</p>
  <hr />
  <img [src]="person().avatar" alt="" />
  <!-- property binding = [] -->
  <input type="number" [value]="person().age" />
  <button [disabled]="disabled">Click me</button>
  <p>person: {{ person().name }}</p>
  <hr />
  <!-- event binding = (event) -->
  <button (click)="clickHandler()">click me</button>
  <button (dblclick)="clickHandler()">double me</button>
  <p>(change)</p>
  <!-- syntax special for $event -->
  <input
    type="number"
    [value]="person().age"
    (change)="changeHandler($event)"
  />
  <p>(change)</p>
  <!-- syntax special for $event -->
  <input type="text" [value]="person().name" (change)="changeHandler($event)" />
  <p>(keydown + shortcut )</p>
  <!-- syntax special for $event -->
  <input
    type="text"
    [value]="person().name"
    (keydown.shift.t)="clickHandler()"
  />
  <hr />
  <h1>Signals</h1>
  <input type="text" [value]="name()" (change)="changeHandler($event)" />
  <p>name: {{ name() }}</p>
  <hr />
  <!-- ng if -->
  <div *ngIf="1 === 1">My content</div>
  <div *ngIf="name() === 'Judá'">Soy Judá</div>
  <input type="number" [value]="person().age" (change)="changeAge($event)" />
  <!-- else -->
  <div *ngIf="person().name === 'Judá' && person().age > 18; else elseBlock">
    Soy Judá y soy mayor de 18
  </div>
  <!-- else block - template -->
  <ng-template #elseBlock> Soy Judá y soy menor de 18 </ng-template>
  <hr />
  <!-- ng switch -->
  <input type="text" [value]="person().name" (change)="changeName($event)" />
  <div [ngSwitch]="person().name">
    <p *ngSwitchCase="'nicolas'">yo soy nicolas</p>
    <p *ngSwitchCase="'julian'">yo soy julian</p>
    <p *ngSwitchCase="'ana'">yo soy ana</p>
    <p *ngSwitchCase="'valentina'">yo soy valentina</p>
    <p *ngSwitchCase="'Judá'">yo soy Judá</p>
    <p *ngSwitchDefault>no no soy nadie</p>
  </div>
  <hr />
  <input type="color" [formControl]="colorCtrl" />
  <p>Color: {{ colorCtrl.value }}</p>
  <svg>
    <g>
      <rect
        x="0"
        y="0"
        width="100"
        height="100"
        [attr.fill]="colorCtrl.value"
      />
    </g>
  </svg>
  <hr />
  <input type="number" [formControl]="widthCtrl" />
  <span class="box" [style.width.px]="widthCtrl.value"></span>
  <hr />
  <p>
    <input type="text" [formControl]="nameCtrl" />
    <br />
    <span
      class="message-error"
      [class.show]="nameCtrl.invalid && nameCtrl.touched"
      >Nombre inválido</span
    >
  </p>
  <p>
    <input type="text" />
  </p>
</div>
